<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
    <!-- <style>
        *{margin:10px;
       font-size: 1.3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
    #heading h1{
margin: 20px;
margin: auto;
    }
    </style> -->
</head>
<body>
    <div id="heading">

        <h1 class="headingstyle">Problem Statement</h1> 
What is the fundamental objective of life? the vast majority of people answer quickly and definitively- happiness. But are we really happy & if yes then how much & in which domains? The happiness index will help us find out!
 The Happiness Index is a tool for the use of researchers, community organizers and policy makers seeking to understand and enhance individual happiness, community well-being. It can be used to identify the percentage of happy people and how they are happy. At the same time, the index can also be used to tabulate the percentage of not-yet-happy people and where do they lack happiness.
 This system will be effectively helping students and the universities in understanding the level of happiness & reasons for the same.
    </div>
    
<!-- ///-------------------------//// -->
<div id="assesment">
    <button><a href="test">Take assesment</a> </button>
</div>
<!-- //---------------------------------// -->
    <div id="domains">
        <h1 class="headingstyle">Domains</h1>
    </div> 
    
      <div class="container2" id="container2">
        <div class="card">
            <div class="box">
              <div class="content">  
                
                <h4>Physical Health</h4>
                <p>LFactors like Occupational activity, domestic activity, travel time required has an adverse effect on
                    health. The amount of increase in sedentary behaviour nowadays gives rise to a lot of health issues.
                    The amount of leisure time also affects the health by a great extent.
                    </p>
              </div>
            </div>            
</div>
<div class="card">
    <div class="box">
      <div class="content">  
        
        <h4>Mental health</h4>
        <p>
            Many research results show that there is a significant relationship between psychological health,
            happiness and life quality. The students whose psychological health is higher, are happier and will
            have higher life quality.
            Mental health is better in students who feel secure about their future. Peer pressure, career related
            pressure, negative competition & lack of opportunities might increase chances of anxiety and
            depression</p>
      </div>
    </div>            
</div>
<div class="card">
    <div class="box">
      <div class="content">  
        
        <h4>Education</h4>
        <p>If the students are satisfied with the quality, diversity & opportunities in the education provided to
            them, this will increase their faith in their future which in turn will make them happy. On the other
            hand, if the quality of education isn't satisfactory it will affect the student's happiness.</p>
      </div>
    </div>            
</div>


<div class="card">
    <div class="box">
      <div class="content">  
        
        <h4>Time management</h4>
        <p>Goal setting, scheduling, force field analysis, cause and effect diagrams, self -awareness
            activities, time logs, delayed gratification response are some practices that can be adopted by
            schools in order to help students utilise time effectively. Schools should undertake action
            research on time use and management of their activities during school hours and use the data
            available for preventive and corrective actions. Teachers should also learn how to optimise
            time for what we treasure as educational goals and demonstrate the same to students.
            </p>
      </div>
    </div>            
</div>

<div class="card">
    <div class="box">
      <div class="content">  
        
        <h4>Life satisfaction</h4>
        <p>Life satisfaction is the degree to which a person positively evaluates the overall quality of his/her life
            as a whole. In other words, how much the person likes the life he/she leads. Research has found that
            life satisfaction is strongly correlated with health-related factors like chronic illness, sleep problems,
            pain, obesity, smoking, anxiety, and physical activity. The relationship may move in both directions,
            but it’s clear that life satisfaction and health go hand in hand—increase or enhance one, and the
            other will likely soon follow.
            
            </p>
      </div>
    </div>            
</div>

<div class="card">
    <div class="box">
      <div class="content">  
        
        <h4>Social Support
        </h4>
        <p>When an individual is under pressure or feeling threatened, these connections provide an individual
            moral and material resources to help the individual relieve stress, reduce stress-induced negative
            emotions, and thus become an important factor affecting the individual's adaptation to the adverse
            situation. For college students who are away from families, schoolmates, friends, and other peers
            may be the most trustworthy members of their social networks and a particularly important source
            of social support. Studies have also shown that family support can effectively help students cope
            with difficult situations, reduce mental stress, and prevent mental health problems, thereby
            maintaining their mental health development
            
            
            </p>
      </div>
    </div>            
</div>
<div class="card">
    <div class="box">
      <div class="content">  
        
        <h4>Freedom to make choices</h4>
        <p>1) Another key feature of a society is the freedom that it provides to its members. No people can be
            truly happy if they do not feel that they are choosing the course of their own life always of course to
            the inevitable constraints of human existence.
            2) Private freedom is measured absence of restrictions on choice in the personal sphere of life, such
            as travel etc.
            3) Psychological freedom is a lack of inner restrictions for seizing opportunities to choose. A first
            inner constraint is low self-esteem.
            
            </p>
      </div>
    </div>            
</div>
<div class="card">
    <div class="box">
      <div class="content">  
        
        <h4>Generosity
        </h4>
        <p>Generosity will increase the psychological well-being of everyone involved while also having an
            impact on material wellbeing, which are two of the domains of Gross National Happiness. If we want
            there to be change in our country's happiness, it starts by making other people happy. 
            
            </p>
      </div>
    </div>            
</div>

<div class="card">
    <div class="box">
      <div class="content">  
        
        <h4>Culture 
        </h4>
        <p> Schools should have a strong multi-cultural policy and bring in value, respect, tolerance and
            celebration of all these cultures. Learning about different religions, languages, morning assembly 
            </p>
      </div>
    </div>            
</div>

<div class="card">
    <div class="box">
      <div class="content">  
        
        <h4>Management 
        </h4>
        <p>  Management is a very important aspect in a person’s life. If he/she is unable to
            manage things these will cause many health issues as well as mental health issues which will be
            reflected in the academics. It will result in poor performance and the person will feel tired which will
            make the person unhappy. 
            </p>
      </div>
    </div>            
</div>


<div class="card">
    <div class="box">
      <div class="content">  
        
        <h4> Amenities 
        </h4>
        <p>The amenities or facilities will impact overall learning process as well as the mental and
            physical growth of the students. These also affect the academic performance of the student to some
            extent. So, the students can also do extra circular activities which will eventually make the students
            happy
            </p>
      </div>
    </div>            
</div>

<div class="card">
    <div class="box">
      <div class="content">  
      
        
        <h4> Future Opportunities
            
        </h4>
        <p> If there is a future scope or more future opportunities then the students are
            motivated to study and perform well in their academics which is the major part of student’s life
            which will indirectly make the students happy and reduce the stress.
            </p>
      </div>
    </div>            
</div>
        
      </div>
    </div>            
</div>



    
      </div>
    
    
</body>
</html>